/* botones_inicio_filtro.css */


.inicio-button {
    display: block; /* Asegura que el botón ocupe todo el ancho disponible */
    background-color: #0e0eec;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0; /* Espacio arriba y abajo del botón */
    text-align: center; /* Centra el texto del botón */
}
