/* botones_inicio_filtro.css */


.inicio-button {
            display: block;
            background-color: #0e0eec;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px;
            margin: 10px auto;
            width: fit-content;
        }
