/* styles header.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: #f8f9fa; /* Fondo blanco claro */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 100%; /* Asegurarse de que no supere el ancho del header */
    object-fit: cover; /* Mantener la relación de aspecto y cubrir todo el espacio */
}

/* Estilos específicos para dispositivos de escritorio */
@media (min-width: 768px) {
    .logo {
        max-width: 100%; /* Asegurarse de que no supere el ancho del header */
        object-fit: cover; /* Mantener la relación de aspecto y cubrir todo el espacio */
    }
}
