/* styles header.css */

body {
            margin: 0;
            padding: 0;
        }
        header {
            width: 100%;
            background-color: #f8f9fa;
            padding: 10px 0;
            text-align: center;
        }

@media (min-width: 768px) {
    .logo {
        max-height: 150px;
    }
}
