/* styletablaentrenador.css */
.tg  {border-collapse:collapse;border-spacing:0;border-color:blue;border-width:4px}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:4px;overflow:hidden;word-break:normal;border-color:blue;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:4px;overflow:hidden;word-break:normal;border-color:blue;}
.tg .tg-u0o7{font-weight:bold;text-decoration:underline;text-align:left;vertical-align:middle}
.tg .tg-wp8o{border-color:blue;text-align:right;vertical-align:middle}
.tg .tg-lqy6{text-align:right;vertical-align:middle}
.tg .tg-0lax{text-align:left;vertical-align:middle}
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; /* Puedes ajustar el valor según sea necesario para el margen superior */
  margin-bottom: 50px; /* Puedes ajustar el valor según sea necesario para el margen inferior */
  
}
  
 .tg td, .tg th {
   padding: 10px; /* Ajusta el valor según sea necesario para el espacio arriba/abajo y espacio izquierda/derecha */
  text-align: left;
} 
    

  
h1 {
  color: #0e0eec;
}

  
.tg {
    background: url('https://i.postimg.cc/VN3yzqm5/Real-Oviedo-de-fondo-b-n.png') no-repeat;
    background-size: cover;
} 
